# PlatformIO
.pio/
platformio

# Build artifacts
build/
cmake-build-*/
*.elf
*.bin
*.map

# VS Code / IDEs
.vscode/
.idea/
*.code-workspace
.vs/

# OS cruft
.DS_Store
Thumbs.db

# Local data/logs
logs/
*.csv

# Arduino IDE cache
.arduinoIDE/

# SSH keys
id_ed25519
id_ed25519.pub
